/Classes/build/
/Classes/dist/
/Classes/nbproject/private/
/Projeto/nbproject/private/
/Projeto/build/
/Projeto/dist/
/ClassesFX/nbproject/private/
/ClassesFX/dist/
/ClassesFX_1/nbproject/private/
/ClassesFX_1/dist/
/ClassesFX_1/build/